
@font-face {
    font-family: VollkomSBItalic;
    src: url("../fonts/VollkornSemiboldItalic-x3oLO.otf") format("opentype");
}

@font-face {
    font-family: "VollkomBold";
    src: url("../fonts/VollkornBold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.woff") format('woff');
}

h2 {
    font-family: "VollkomBold";
}

.logotext {
    font-family: "Georgia";
    font-size: 30px;
    fill: #006837;
}

.cl-2 {
    fill: #006837;
}

@media screen and (max-width: 768px) {
    .bodyelements {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .headerimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        text-align: center;
    }

    header {
        margin: 0;
        padding-top: 2%;
        padding-bottom: 2%;
        position: sticky;
        top: 0;
        background-color: white;
    }

    .topcontainer {
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        border-style: dotted;
        border-width: 1px; 
        border-color: black;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .bodyelements {
        padding-left: 25%;
        padding-right: 25%;
    }

    .headerimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12.5%;
        text-align: center;
    }

    header {
        margin: 0;
        padding-top: 1%;
        padding-bottom: 1%;
        position: sticky;
        top: 0;
        background-color: white;
    }

    .topcontainer {
        width:50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .articlecontainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        border-style: dotted;
        border-width: 1px; 
        border-color: black;
        width: 50%;
    }
}
  
.container {
    padding: 2px 16px;
}