.u-section-1 .u-sheet-1 {
  min-height: 797px;
}

.u-section-1 .u-group-1 {
  width: 221px;
  min-height: 320px;
  margin: 60px 29px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 445px;
  margin: -320px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 236px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 433px;
  margin-left: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 30px 30px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 100;
  font-family: Average;
  margin: 64px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: Lato, sans-serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 20px 0 0;
}

.u-section-1 .u-group-3 {
  width: 230px;
  min-height: 110px;
  margin: -669px 20px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 12px;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 56px;
  height: 56px;
  margin: 15px 10px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -55px 85px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  margin: 10px -8px 0 0;
}

.u-section-1 .u-group-4 {
  width: 230px;
  min-height: 186px;
  margin: 297px auto 0 16px;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-image-3 {
  height: 106px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-shape-1 {
  height: 84px;
  margin: -4px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -76px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  margin: 0 4px 0 0;
}

.u-section-1 .u-group-5 {
  width: 230px;
  min-height: 100px;
  margin: -483px 20px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 12px;
  padding-right: 0;
}

.u-section-1 .u-image-4 {
  width: 56px;
  height: 56px;
  margin: 15px 10px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: -55px 85px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  margin: 10px -8px 0 0;
}

.u-section-1 .u-group-6 {
  width: 230px;
  min-height: 100px;
  margin: 10px 20px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 12px;
  padding-right: 0;
}

.u-section-1 .u-image-5 {
  width: 56px;
  height: 56px;
  margin: 15px 10px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: -55px 85px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  margin: 10px -8px 0 0;
}

.u-section-1 .u-group-7 {
  width: 230px;
  min-height: 186px;
  margin: -310px auto 0 20px;
}

.u-section-1 .u-container-layout-8 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-image-6 {
  height: 106px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-shape-2 {
  height: 84px;
  margin: -4px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: -76px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  margin: 0 4px 0 0;
}

.u-section-1 .u-group-8 {
  width: 230px;
  min-height: 186px;
  margin: 15px auto 60px 16px;
}

.u-section-1 .u-container-layout-9 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-image-7 {
  height: 106px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-shape-3 {
  height: 84px;
  margin: -4px auto 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: -76px 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  margin: 0 4px 0 0;
}

.u-section-1 .u-text-16 {
  font-family: Average;
  margin-bottom: 60px;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-group-1 {
    width: 230px;
    margin-top: 20px;
    margin-right: 33px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 569px;
    margin-left: 25px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-1 .u-image-1 {
    height: 309px;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 189px;
    min-height: 32px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -161px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-group-3 {
    min-height: 91px;
    margin-top: -575px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-group-4 {
    min-height: 406px;
    margin-top: 618px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    width: 510px;
    left: auto;
    right: 0;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -174px;
    margin-right: -755px;
    margin-left: 755px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 267px;
    margin-right: 404px;
    margin-left: 314px;
  }

  .u-section-1 .u-group-5 {
    min-height: 95px;
    margin-top: -1010px;
    margin-right: 25px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-6 {
    min-height: 92px;
    margin-top: 341px;
    margin-right: 33px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    min-height: 406px;
    margin-top: 296px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -236px;
    margin-left: initial;
  }

  .u-section-1 .u-shape-2 {
    width: 510px;
    left: -280px;
    right: auto;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 173px;
    margin-right: -625px;
    margin-left: 625px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -250px;
    margin-right: 404px;
    margin-left: 314px;
  }

  .u-section-1 .u-group-8 {
    min-height: 233px;
  }

  .u-section-1 .u-image-7 {
    width: 300px;
    left: 0;
    right: auto;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-1 .u-shape-3 {
    width: 510px;
    height: 172px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -157px;
    margin-right: -315px;
    margin-left: 315px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 73px;
    margin-right: -174px;
    margin-left: 314px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -1619px;
    margin-right: 33px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 618px;
    margin-right: auto;
    margin-left: -280px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -918px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-1 .u-image-1 {
    height: 444px;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 54px;
    min-height: 164px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 569px;
    min-height: 150px;
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 187px;
    height: 149px;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -112px;
    margin-right: 424px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: -1598px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-6 {
    min-height: 122px;
    margin-top: 725px;
    margin-right: -310px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -124px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 359px;
    margin-left: 269px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -2003px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 631px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -931px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-1 .u-image-1 {
    height: 333px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    min-height: 180px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 209px;
    left: auto;
    right: 0;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 38px;
    margin-right: 397px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 224px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -1509px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 224px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -101px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 269px;
    margin-left: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 573px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -873px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-1 {
    height: 210px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 170px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-text-4 {
    margin-right: 197px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-text-7 {
    margin-right: 24px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -1631px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-text-13 {
    margin-right: 24px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-top: -75px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 169px;
    margin-left: 79px;
  }
}.dottedborders {
  border-style: dotted;
  border-color: b1ack;
  border-width: 1px;
}